<div class="col-4 mb-3">
  <div class="mb-2">
    <a href="/ajouter" class="btn btn-primary"
      ><i class="bi-plus-circle" style="color: #ffffff"></i>&nbsp;&nbsp;Ajouter un fact</a
    >
    <a href="/moderation" class="btn btn-primary"
      ><i class="bi-plus-circle" style="color: #ffffff"></i>&nbsp;&nbsp;Modérer</a
    >
  </div>
  <div class="p-4 bottom-border bg-light">
    <h4>Chuck Norris Facts -Fr</h4>
    <p class="mb-0">
      Découvrez les Chuck Norris Facts, entièrement en Français. Servis avec
      amour et coups de pieds circulaires depuis 2007.
    </p>
  </div>
</div>
