<footer class="container bg-light">
    <p>Chuck Norris Facts -Fr - Servis avec amour depuis 2007</p>
    <p><a href="#">Vers le haut</a> - <a href="mailto:contact@chucknorrisfacts.fr">Contact</a></p>
</footer>