<header class="container rounded-bottom mb-2">
  <div class="d-flex">
    <img
      src="/img/cn.png"
      alt="pixel art représentant Chuck Norris"
      width="64px"
      height="64px"
    />
    <nav class="d-flex align-items-center">
      <a href="/" class="btn btn-primary">Accueil</a>
      <a href="/facts" class="btn btn-primary">Les Facts</a>
    </nav>
  </div>
</header>
