<%- include('partials/head') %>
<body>
    <%- include('partials/navbar') %>
    <main class="container row mx-auto mt-2 px-0">
        <div class="col-8">
            <div class="pagination justify-content-center">
                <a class="page-link" href="/facts/recent">Les plus récents</a>
                <a class="page-link" href="/facts">Les mieux notés</a>
                <a class="page-link" href="/facts/random">Aléatoire</a>
            </div>
        </div>
        <%- include('partials/aside') %>
    </main>
    <%- include('partials/footer') %>
</body>
</html>